

#borderPane_Custom{
	-fx-background-image: url("photos/wall.jpg");
	-fx-opacity: 0.9;
}

#mainView{
-fx-background-image: url("photos/wall.jpg");
}

.AnchorPane{
-fx-background-image: url("photos/wall.jpg");
}

#game{
-fx-background-image: url("photos/game.jpg");
}


.jfx-button{
	-fx-background-color: Transparent;
	-fx-border-color: Transparent;
	-fx-border-radius: 50px;
	-fx-font-color: white;
	-fx-font-size: 20px;
	-fx-font-weight:bold;
}

.small-jfx-button{
	-fx-background-color: linear-gradient(to bottom , #C6ECAE , #A3C28F);
	-fx-background-radius: 10;
	-fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
	-fx-effect: dropshadow( gaussian , #A3C28F , 4,0,6,5 );
	-fx-font-color: white;
	-fx-font-size: 14px;
	-fx-font-weight:bold;
}


#Snake_Label{
	-fx-font-size: 40px 'david';
	-fx-font-family: Georgia;
	-fx-text-fill: #A99646;
	-fx-opacity:0.98;
	-fx-effect: dropshadow(gaussian,#A99646,8,0,0,0);
}

#Small_Snake_Label{
	-fx-font-size: 20px 'david';
	-fx-font-family: Georgia;
	-fx-text-fill: #A99646;
	-fx-opacity:0.98;
	-fx-effect: dropshadow(gaussian,#A99646,8,0,0,0);
}

#Snake_Image{
	-fx-effect: dropshadow(gaussian,black,4,0,4,4);
}


.table-view,.table-view .column-header,
.table-view .column-header-background .filler,.table-view .column-header-background{
    -fx-background-color:  transparent;
}

.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold; 
    -fx-font-size: 18px 'david';
   -fx-alignment: CENTER;
   
}
.table-view .cell{
   -fx-cell-size: 35;
  -fx-alignment: center-left;
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-text-fill: lightgray;
  -fx-alignment: CENTER;
   
}
.table-row-cell{
   -fx-background-color: #005797; 
   -fx-font-size: 15px 'david';
   
       
}
.table-row-cell:selected {
   -fx-background-color: #005797; 
   -fx-font-size: 17px 'david';
   -fx-font-weight: bold; 
}



/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}




/* The main scrollbar **track** CSS class  
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}
*/
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
/*.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:white;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}



.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}*/

.table-view *.scroll-bar:vertical *.increment-button,
.table-view *.scroll-bar:vertical *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:vertical *.increment-arrow,
.table-view *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}


.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
